.header{
    height: 10%;
    border: 2px solid black;
    background-color: #B1D0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
}

.header ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;
}



.ul1 li a{
    padding: 20px;
    text-decoration: none;
    color: black;
}
.ul1 li img{
    width: 70%;
}

.ul2 a{
    padding: 20px;
}
